In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
columns_to_drop = ["PassengerId","Ticket","Cabin","Embarked","Name"]
clean_data = data.drop(columns_to_drop,axis=1)
print(clean_data)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()
clean_data["Sex"] = le.fit_transform(clean_data["Sex"])
clean_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [6]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [7]:
clean_data["Age"] = clean_data["Age"].fillna(clean_data["Age"].mean())

In [8]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [9]:
column_X = ['Pclass',"Sex","Age","SibSp","Parch","Fare"]
column_Y = ["Survived"]
X = clean_data[column_X]
Y = clean_data[column_Y]
print(X.shape, Y.shape)

(891, 6) (891, 1)

In [10]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [11]:
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [12]:
# define Entropy and Information gain

In [13]:
def entropy(col):
    count = np.unique(col, return_counts = True)
    N = float(col.shape[0])
    
    entropy = 0.0
    for ix in count[1]:
        p = ix/N
        entropy += -1.0*p*np.log2(p)
        
    return entropy

In [14]:
col = np.array([0,1,0,0,0,0,0,0,0,0,0,0])
print(entropy(col))

0.41381685030363374

In [15]:
def divide_data(data,key,val):
    left_data = pd.DataFrame([],columns=data.columns)
    right_data = pd.DataFrame([],columns=data.columns)
    
    for xi in range(data.shape[0]):
        if data[key].loc[xi] > val :
            right_data = right_data.append(data.loc[xi])
        else:
            left_data = left_data.append(data.loc[xi])
            
    return left_data, right_data

In [16]:
left_data, right_data = divide_data(X[:10], 'Sex',0.5)
print(left_data)
print(right_data)

   Pclass  Sex   Age  SibSp  Parch     Fare
1     1.0  0.0  38.0    1.0    0.0  71.2833
2     3.0  0.0  26.0    0.0    0.0   7.9250
3     1.0  0.0  35.0    1.0    0.0  53.1000
8     3.0  0.0  27.0    0.0    2.0  11.1333
9     2.0  0.0  14.0    1.0    0.0  30.0708
   Pclass  Sex        Age  SibSp  Parch     Fare
0     3.0  1.0  22.000000    1.0    0.0   7.2500
4     3.0  1.0  35.000000    0.0    0.0   8.0500
5     3.0  1.0  29.699118    0.0    0.0   8.4583
6     1.0  1.0  54.000000    0.0    0.0  51.8625
7     3.0  1.0   2.000000    3.0    1.0  21.0750

In [17]:
def information_gain(data, key, val):
    left_data, right_data = divide_data(data, key, val)
    
    if left_data.shape[0] == 0 or right_data.shape[0] == 0:
        return -100000
    
    l = float(left_data.shape[0])/data.shape[0]
    r = float(right_data.shape[0])/data.shape[0]
    
    info_gain = entropy(data.Survived) - (l*entropy(left_data.Survived) +r*entropy(right_data.Survived) )
    
    return info_gain

In [18]:
for key in X.columns:
    print(key)
    print(information_gain(clean_data,key,clean_data[key].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.0008836151229467681
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [44]:
class DecisionTree:
    
    def __init__(self, depth = 0, max_depth = 5):
        self.left = None
        self.right = None
        self.key = None
        self.val = None
        self.target = None
        self.depth = depth
        self.max_depth = max_depth
        
    def train(self, X_train):
        features = ['Pclass','Sex','Age','SibSp', 'Parch', 'Fare']
        info_gains = []
        
        # Select root
        for xi in features:
            i_gain = information_gain(X_train, xi, X_train[xi].mean())
            info_gains.append(i_gain)
            
        self.key = features[np.argmax(info_gains)]
        self.val = X_train[self.key].mean()
        
        print("Making Tree Features is",self.key)
        
        # Split Data
        left_X, right_X = divide_data(X_train, self.key, self.val)
        left_X = left_X.reset_index(drop = True)
        right_X = right_X.reset_index(drop = True)
        
        # Base Case
        if left_X.shape[0] == 0 or right_X.shape[0] == 0 or self.depth >= self.max_depth :
            if X_train.Survived.mean() >= 0.5 :
                self.target = "Survived"
            else:
                self.target = "Dead"
            return
        
        # Recursion        
        self.left = DecisionTree(depth = self.depth+1, max_depth=self.max_depth)
        self.left.train(left_X)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(right_X)
        
        # Set target for each node
        if X_train.Survived.mean() >= 0.5 :
                self.target = "Survived"
        else:
                self.target = "Dead"
        return
    
    def predict(self, test):
        if test[self.key] > self.val:
            # Go right
            if self.right == None:
                return self.target
            return self.right.predict(test)
        else:
            # go left
            if self.left == None:
                return self.target
            return self.left.predict(test)

In [45]:
split = int(0.7*clean_data.shape[0])
train_data = clean_data[:split]
test_data = clean_data[split:]
test_data = test_data.reset_index(drop=True)

In [46]:
print(train_data.shape,test_data.shape)

(623, 7) (268, 7)

In [47]:
dt = DecisionTree()

In [48]:
dt.train(train_data)

Making Tree Features is Sex
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Parch
Making Tree Features is Pclass
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Pclass
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age

In [50]:
print(dt.key)
print(dt.val)
print(dt.left.key)
print(dt.right.key)

Sex
0.6292134831460674
Pclass
Fare

In [93]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))
    
(y_pred)

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead']

In [94]:
lr = LabelEncoder()
y_pred = lr.fit_transform(y_pred)
print(y_pred)

[0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0
 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1
 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0
 0 0 0 0 0 1 0 0 0]

In [95]:
y_actual = test_data.Survived.values
y_actual.shape

(268,)

In [96]:
acc = ((y_pred == y_actual).sum()/y_actual.shape[0])*100

In [100]:
print('Accuracy of above Implementation is: ', acc,'%',sep = "" )

Accuracy of above Implementation is: 81.71641791044776%